<h1><%= @story.title %></h1>
<h2><%= @story.subtitle %></h2>
<%= link_to "View Full View", "/stories/#{@story.id}/full-view" %>

<% @story.sentences.each do |sentence| %>
  <p> <%=sentence.content%> </p>
<% end %>

<p> By: <%= @story.all_authors %></p>

<% if @story.sentences.length > 0 %>
  <div class="current-image"><%= image_tag(@story.sentences[-1].image.url, class:'icon-image')%></div>
<% end %>

<%= render "sentences/form" %>
