<!DOCTYPE html>
<html>
<head>
  <title>StoryTyme</title>
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav-style">
    <nav>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Add A New Story", new_story_path %></li>
    </nav>
  </div>
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <%= yield %>

</body>
</html>
